
h1 {
    color: #886cab;
    font-family:Verdana;
    text-align: center;
    padding: 10px;}

p {
    color: rgb(54, 53, 53);
    font-family:Verdana;
    font-size: 14px;}

h1.left {
    color: #886cab;
    font-family:Verdana;
    text-align: left;
    padding: 10px;}

.right_style {
    float:right;
    color: rgb(96, 96, 96); 
    background-color: transparent; 
    text-decoration: none;}

.centreren{
    text-align: center;}

.navbar_colour{
    position: sticky;
    top: 0;
    background-color:rgb(255, 255, 255);
    padding: 15px;
    font-size: 20px;}

.nav_button {
    color: rgb(96, 96, 96);
    font-size: 20px; 
    background-color: transparent; 
    text-decoration: none;}

.button {
    background-color: white;
    border: 2px solid #886cab;
    color: #886cab;
    border-radius: 25px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;}

.button:hover {
    background-color: #886cab;
    color: white;}

.blocktext {
    margin-left: auto;
    margin-right: auto;
    text-align:justify;
    width: 33em;}


.footer {
    position: fixed;
    left: 0;
    right:0;
    bottom: 0;
    width: 100%;
    background-color: rgb(96, 96, 96);
    color: white;
    text-align: right;
    padding: 3px;
    font-size: 5px;}



.labelset {
    background-color: white;
    border: 2px solid #886cab;
    border-radius: 25px;
    color: #886cab;
    padding: 8px 57px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;}


.startbutton {
    background-color: white;
    border: 2px solid #886cab;
    color: #886cab;
    border-radius: 25px;
    padding: 8px 123px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;}
 
.startbutton:hover {
    background-color: #886cab;
    color: white;}

.aboutpart {
    background-color: #886cab;
    width: 100%;
    height: 633px}

.mainpart {
    background-color: #ffffff;
    width: 100%;
    height: 597px;
    color: white;}

* {
    box-sizing: border-box;}
      
.row {
    display: flex;}

.column {
    flex: 50%;
    padding: 10px;}

