{% extends 'base.html' %}

{% block head %}
<title>{% block title %} SkillAPP {% endblock %}</title>
{% endblock %}



{% block content %}
    <div class="centreren">
    <h1 style="font-family:Verdana">Introduction</h1><br>
    </div>
    <div class="centreren">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, 
        nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
        Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
        In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 
        Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, 
        porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. 
        Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. 
        Curabitur ullamcorper ultricies nisi. Nam eget dui.</p><br>
    </div>
    <div class="centreren">
        <form action="#">
            <label for="fname">Name</label><br>
            <input type="text" required id="fname" name="fname"><br><br>
            <label for="age">Age</label><br>
            <input type="number" required id="lage" age="lage" maxlength="3"><br><br><br>
            <input type="button" onclick="window.location.href='http://127.0.0.1:5000/quiz';" class="button button:hover" value="Start">
          </form>
    </div>
{% endblock %}