{% extends 'base.html' %}

{% block head %}
<title>{% block title %} SkillAPP {% endblock %}</title>
{% endblock %}



{% block content %}
<div class="centreren">
    <h1 style="font-family:Verdana">Choose the skill that fits you the most.</h1><br>
    <button type="button" onclick="window.location.href='http://127.0.0.1:5000/fits';" class="button button:hover" style="margin:15px;">Flexibility</button>
    <button type="button" onclick="window.location.href='http://127.0.0.1:5000/fits';" class="button button:hover" style="margin:15px;">Strength</button>
    </div>
{% endblock %}